/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018.04.11., 19:26:06
    Author     : Ábel
*/
body{
        font-family: Arial,Helvetica,sans-serif;
        background-color: #335462;
        font-family: Segoe UI;
        font-weight: bold;}
*{
 box-sizing: border-box;}
div.doboz{
    background-color: #dfe5ed;
    float:left;
    padding: 10px 10px;
    height: 300px;
    margin: 10px;}
div.doboz p{
    width: 200px;}
div.doboz input{
    float:right;}
div.doboz h2{
    margin: 5px auto;
    width: 180px;
}
