/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018.04.20., 8:47:11
    Author     : Ábel
*/

/* a tartományok nem metszhetik egymást, két oldalról be kell határolni az egyiket ha két max van*/
@media (min-width: 1201px) {
    .col-lg-12{
        width: 8.33%;}   
    .col-lg-6{ 
        width: 16.66%;} 
    .col-lg-4{
        width: 23%;}
    .col-lg-3{
        width: 33.33%;}}
@media (min-width: 516px) and (max-width: 1200px) {
    .col-me-12{
        width: 10%;}   
    .col-me-6{ 
        width: 50%;} 
    .col-me-4{
        width: 50%;}
    .col-me-3{
        width: 50%;}
    .col-me-2{
        width: 46%;}}
@media (max-width: 515px){
    .col-s-1{
        width: 96%;
    }
}


