﻿/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018.04.20., 8:16:21
    Author     : Nem Ábel
*/
table#lekerdezes{
    border: 1px solid black;
}

table tr{
    border-top: 5px solid blue;
    border-bottom: 5px solid blue;
}/*soroknak nem lehet szegélyt adni */

table th{
    border: 1px solid black;
    border-top: 0px;
    border-bottom: 0px;
}

table th:nth-child(even){
    border-left: 0px;
    border-right: 0px;
}

table th:last-child{
    border-right: 0px;
}

table th:first-child{
    border-left: 0px;
}

table tr td:nth-child(odd){
    border-left: 1px solid red;
    border-right: 1px solid red;
}

table tr td:first-child{
    border-left: 0px;
}

table tr td:last-child{
    border-right: 0px;
}

table tr td:nth-child(n), td:nth-child(2n), td:nth-child(3n){
    border-bottom: 1px solid red;
}

